.post_form, .bg_primary, .comment_form {
  color: black;
  margin: 1.5vw 2vw;;
  padding: 20px 15px 5px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: left;

  justify-content: left;
}

.bg_primary{
    background-color: rgb(92, 145, 214);
    color: white;
    font-weight: bold;
}

.post_form{
    margin-bottom: 40px;
}

.post_form_text{
    padding: 8px;
}

.btn_submit_post{
    background-color: black;
    color: white;
    width: 80px;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
}

.btn_submit_post:hover{
opacity: 0.7;
}