.post_form, .bg-primary {
  color: black;
  margin: 20px 50px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgb(246, 246, 241);
  justify-content: left;
}

.bg-primary{
    background-color: rgb(92, 145, 214);
    color: white;
    font-weight: bold;
}

.post_form{
    margin-bottom: 40px;
}

.post_text{
    padding: 8px;
}

.btn_submit_post{
    background-color: black;
    color: white;
    width: 80px;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
}

.btn_submit_post:hover{
opacity: 0.7;
}