.post_card_container {
  color: black;
  margin: 20px 50px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.round_image {
  height: 60px;
  width: 60px;
  margin-bottom: 3px;
  padding: 2px;
  margin-right: 26px;
}

.post_text{
  margin-right: 20px;
}
.post_date {
  font-size: smaller;
  color: gray;
  margin-top: 5px;
}

.like_btn {
  margin: 2px 7px 0px 3px;
  padding: 3px 5px;
  background-color: rgb(223, 218, 218);
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  margin: 3px 7px 0px 3px;
  padding: 3px 13px;
  border-radius: 4px;
  color: rgb(16, 15, 15);
}

.like_btn:hover {
  opacity: 0.7;
}



.btn_danger {
  padding: 0px 5px;
}

.comment-count{
  background-color: white;
  margin: 2px;
  padding: 0px 3px;
  border-radius: 4px;
}