.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  padding: 5px 5px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;

  border-bottom: 1px solid #0c0101;
}
.navbar > h1 > a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #5856f8;
}

.navbar > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.navbar > ul > li {
  margin: 0 7px;
}

.navbar > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar > ul > li > a:hover {
  font-weight: bold;
}

.navbar > ul > li > .active {
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

.navbar > ul > li > button {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 7px 10px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgb(219, 5, 5);
}

.navbar > ul > li > button:hover {
  opacity: 0.8;
  font-weight: bold;
}

.copyrights {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 13px 7px 0px 10px;
}

.copyrights:hover > small > a {
  color: rgb(141, 222, 97);
  font-weight: bold;
}
