.profiles_top_container {
  padding: 20px 10px;
  margin: 1vw 2vw;
}

.profile_item_container {
  margin: 0.8vw 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(63, 68, 73);
}
.profile_item_container:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.profile_pic_container {
  display: flex;
  align-items: center;
}

.round_img {
  height: 130px;
  width: 130px;
  margin-bottom: 5px;
  padding: 2px;
}
.location_p {
  margin-bottom: 25px;
}
.profile_link {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.profile_link:hover {
  opacity: 0.8;
  color: white;
}

.profile_link_red {
  background-color: rgb(201, 8, 8);
  margin: 2vw;
}
.profile_link_red:hover {
  opacity: 0.8;
  background-color: rgb(201, 8, 8);
  color: white;
}

.profile_top {
  padding: 10px 30px;
  margin: 1.3vw 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_top > p > span {
  padding: 20px 0px;
}

.profile_info {
  padding-left: 10px;
}
