.profiles_top_container {
  padding: 20px 10px;
  margin: 10px 50px;
}

.profile_item_container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(63, 68, 73);
}

.profile_pic_container {
  display: flex;
  align-items: center;
}

.round_img {
  height: 150px;
  width: 150px;
  margin-bottom: 5px;
  padding: 4px;
}
.location_p {
  margin-bottom: 25px;
}
.profile_link {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.profile_link:hover {
  background-color: #0056b3;
  color: white;
}

.profile_link_red {
  background-color: rgb(227, 23, 23);
  margin: 20px;
  margin-left: 50px;
}
.profile_link_red:hover {
  background-color: #b30b0b;
  color: white;
}

.profile_top {
  padding: 20px 30px;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_top > p > span {
  padding: 20px 0px;
}

.profile_info {
  padding-left: 10px;
}
