.profiles_top_container {
  padding: 20px 10px;
  margin: 10px 50px;
}

.profile_item_container {
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 0px 10px;
  background-color: rgb(74, 80, 88);
}

.profile_pic_container {
  display: flex;
  align-items: center;
}

.round_img {
  padding: 20px;
  height: 190px;
  width: 190px;
}
.location_p {
  margin-bottom: 25px;
}
.profile_link {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.profile_link:hover {
  background-color: #0056b3;
  color: white;
}

.profile_link_red {
  background-color: rgb(227, 23, 23);
  margin: 20px;
}
.profile_link_red:hover {
  background-color: #b30b0b;
  color: white;
}

