.profile_actions {
  margin-bottom: 10px;
}
.profile_actions > a {
  margin-top: 1vw;
  margin-left: 2vw;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.profile_actions > a:hover {
  background-color: #0056b3;
  color: white;
}
.profile_container {
  margin: 15px;
}
