.repo_text_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0px;
  border-bottom: 1px solid gray;
}

.repo_text_card {
  padding: 5px;
  margin: 3px;
}

.badge {
  font-size: small;
  padding: 2px;
  margin: 3px;
}

.badge-primary {
  background-color: rgb(78, 159, 2);
}

.badge-dark {
  background-color: chocolate;
}

.badge-light {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
