.register_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 34px;
  padding: 25px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.register_form {
  padding: 5px 10px;
  margin: 10px 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register_form > input,
.register_form > select,
.register_form > textarea {
  width: 100%;
  padding: 8px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
  color: black;
  font-weight: 550;
}

.submit_btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin: 15px 0px 5px 0px;
}

.submit_btn:hover {
  opacity: 0.8;
}
